@import "config";
ul{
  list-style-position: inside;
  font-size: 1.1em;
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
  font-weight: bolder;
}
.footer-list{
  background-color: $footer-background;
  color: #FFFFFF;
  text-decoration: none;
  li{
    font-size: 0.9em;
    font-weight:  lighter;
  }
}