.signup-form {
  //display: flex;
  flex-direction: column;
  width: 100%;
  outline: 1px solid red;
  background-color: #5f5fac;
  justify-content: center;

  .MuiBox-root {
    outline: 1px solid yellow;

  }

}

#form-signup-button{
  //display: flex;
  //outline: 1px solid red;
}

#signup-rules{
  //background-color: red;
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  margin : 0 3rem 0 3rem;
  ul{
    list-style-type: disc;
    margin: 1rem;
    li{
    font-weight: normal;
    }
  }
  span{
    margin:1rem 0 0 1rem;
  }
}

.msg-display-signup{
  display: block;
  background-color: #0b132b;
  color:#ffffff;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding:2rem;
  margin:1rem;
  min-width: 30rem;
  max-width: 35rem;
  min-height: 2rem;
  max-height: 2rem;
  text-align: center;
}
